@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-red-toast {
  /* background-color: #d32f2f !important;  */
  color: #272525 !important; 
  border-radius: 6px !important;
  font-weight: 500;
  box-shadow: 0 2px 10px rgba(211, 47, 47, 0.4);
}

.custom-red-toast .Toastify__progress-bar {
  background-color: #ffffff !important;
}

.custom-red-toast .Toastify__spinner {
  border-color: rgba(255, 255, 255, 0.4);
  border-top-color: #fff;
}

.custom-red-toast .Toastify__toast-body {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* MAIN LAYOUT */
.admin-container {
  display: flex;
  min-height: 100vh;
  background: #111;
  color: #fff;
}

.sidebar {
  width: 230px;
  background: #000;
  padding: 20px;
  border-right: 1px solid #333;
}

.sidebar ul li {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  cursor: pointer;
}

.admin-main {
  flex: 1;
}

.admin-header {
  padding: 30px;
  text-align: center;
  background: #111;
  font-size: 32px;
  font-weight: bold;
}

.admin-content {
  padding: 20px;
}

/* TABLE STYLING */
.user-table {
  width: 95%;
  margin: auto;
  background: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #0005;
}

.user-table th,
.user-table td {
  padding: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.edit-btn {
  padding: 8px 18px;
  background: #00c851;
  color: white;
  border-radius: 5px;
}

.delete-btn {
  padding: 8px 18px;
  background: #536dfe;
  color: white;
  border-radius: 5px;
}
